" --- Florian Wallners .ideavimrc ---
" Core settings are managed in .vimcommon
source ~/.config/vim/vimcommon

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'chrisbra/matchit'

set smarttab
set nrformats-=octal

" Escape key responsiveness
set ttimeout
set ttimeoutlen=100

" Intellij specific settings
set ideamarks                  " Map vim marks to IDEA global marks
set ideajoin                   " Use smart line joins

set clipboard+=unnamed
set clipboard+=ideaput

" Intellij actions
noremap <C-n> :action GotoClass<CR>
nnoremap <C-e> :action RecentFiles<CR>
nnoremap <C-q> :action QuickJavaDoc<CR>
nnoremap gi :action GotoImplementation<CR>

" Map IDE actions to IdeaVim
"map \r <Action>(ReformatCode)
"map <leader>d <Action>(Debug)
"map \b <Action>(ToggleLineBreakpoint)
