# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'
palette = "catppuccin_macchiato"
# [░▒▓](fg:base)\
format = """
[](base)\
$character\
$os\
$username\
$directory\
$git_branch\
$git_status\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
$docker_context\
$time\
[ ](base)\
"""

right_format = "([$cmd_duration](base))"

# Disable the blank line at the start of the prompt
add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:base fg:mauve"
style_root = "bg:base fg:mauve"
format = '[  ]($style)'
disabled = true

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
format = '[ $symbol]($style)'
style =  "bold bg:base fg:mauve"
disabled = true # Disabled by default

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "


[directory]
style = "bg:base fg:blue"
home_symbol = "  "
# home_symbol = " 󱂵"
read_only = " 󰌾"
read_only_style = "bg:base fg:red"
format = """
[$path]($style)\
[$read_only]($read_only_style)"""
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Dropbox" = " "
"Music" = " "
"Pictures" = " "
"etc" = ""
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = ' '
style = 'bg:base fg:teal'
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'

[docker_context]
symbol = ' '
style = "bg:base fg::sapphire"
format = '[\) ](bg:base fg:overlay1)[$symbol $context ]($style)'

[elixir]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'

[elm]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "green bg:base"
truncation_length = 32
format = '[\) ](bg:base fg:overlay1)[$symbol $branch]($style)'

[git_status]
style = "green bg:base"
format = "[$all_status$ahead_behind]($style)"
untracked = "[ ?${count}](blue bg:base)"
stashed = " *${count}"
staged = " +${count}"
ahead = " ⇡${count}"
diverged = " ⇕⇡${ahead_count}⇣${behind_count}"
behind = " ⇣${count}"
modified = "[ !${count}](yellow bg:base)"
deleted = "[ ✘${count}](red bg:base)"


[golang]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'

[gradle]
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'
disabled = true

[haskell]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)'

[java]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version)]($style)'

[julia]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)[ ](bg:base fg:overlay1)'

[nodejs]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)[ ](bg:base fg:overlay1)'

[nim]
symbol = "󰆥"
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)[ ](bg:base fg:overlay1)'

[rust]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)[ ](bg:base fg:overlay1)'

[scala]
symbol = ""
style = "bg:base fg:teal"
format = '[\) ](bg:base fg:overlay1)[$symbol ($version) ]($style)[ ](bg:base fg:overlay1)'

[time]
disabled = true
time_format = "%R" # Hour:Minute Format
style = "bg:base fg:blue"
format = '[\) ](bg:base fg:overlay1)[♥ $time ]($style)[ ](bg:base fg:overlay1)'

[character]
format = '[ $symbol ](bg:base)'
success_symbol = '[󰸞](bold green bg:base)'
error_symbol = '[✘](bold red bg:base)'
vimcmd_symbol = '[](green bg:base)'

[cmd_duration]
format = '[$duration  ](bg:base fg:overlay1)'

# palette tables should be last in the config ⚓️
[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
